body {
    padding: 0;
    margin: 0;
    background: #EEE;
}

#url {
    padding: 0.5rem;
    background: #666;
    color: #FFF;
}

#requests > div {
    font-family: monospace;
    margin: 0.5rem;
    background: #CCC;
    color: #000;
    border: solid 1pt #222;
}

#requests .location {
    display: grid;
    padding: 0;
    grid-gap: 0.5rem;
    grid-template-columns: 3rem 1fr auto;
}

#requests .location > * {
    padding: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#requests .method {
    text-align: center;
    color: #FFF;
    background-color: #039;
}

#requests .headers {
    margin: 0.2rem;
    padding: 0.2rem;
}

#requests .headers b {
    color: #666;
    padding-right: 0.5rem;
}

#requests .body {
    margin: 0.2rem;
    padding: 0.2rem;
    border: solid 1pt #AAA;
    background: #FFF;
}

.table {
    width: 100%;
    display: grid;
    padding: 0.5rem;
    grid-gap: 0.5rem;
    grid-template-columns: 15rem 1fr;
}

.table > * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-header {
    font-weight: bold;
    grid-column: 1 / -1;
}

table {
    padding: 0.5rem;
    table-layout: fixed;
}
